<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios 비동기 방식</title>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-NAifrtbJwcoqjYqhfos40lsRt+O6K5TClF4FjW02ZswKdcD2H3gZN3KA1I3ZxYEM" crossorigin="anonymous"></script>

    <!-- JQuery CDN -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->

    <script>
        function sendGet() {
            let form = document.getElementById('form_info');
            // form.name.value
            // form 태그 안에서 name을 가진 input의 값을 가져오겠다.
            // form 태그에서만 사용 가능한 방법

            // axios get을 이용한 통신
            axios({
                method: "get",
                url: "/form",
                params: {
                    // name: "codingOn"
                    name: form.name.value
                }
            })
            .then(function(res) {
                console.log(res);
                // 방법 1
                alert(res.data);
                // 방법 2
                // alert(res.data.msg);
            });
        }

    </script>
</head>
<body>
    <div>
        <button type="button" onclick="sendGet();">get 전송</button>
        <button type="button" onclick="sendPost();">post 전송</button>
    </div>
    
    <form id='form_info' action="/form" method="post">
        이름 : <input tpye="text" name="name">
        <!-- 나이 : <input tpye="text" name="age"> -->
    </form>
</body>
</html>
