<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="view_type_list">
        <ol>
            <li>
                <div class="prod_area">
                    <div class="prod_info_box">
                        <a href="#">
                            <span>타이틀</span>
                        </a>
                    </div>
                    <div class="prod_thumb_box">
                        <a href="#">
                            <span>
                                <img src="/test">
                            </span>
                        </a>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</body>
</html>

