<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<script>
    const registerMove = () => {
        document.location.href="/register";
    }
    const login = () => {
        const form = document.getElementById("formLogin");
        if(form.id.value.trim() === '') {
            alert("아이디를 입력하세요!");
            form.id.focus();
            return;
        }
        if(form.password.value.trim() === '') {
            alert("비밀번호를 입력하세요!");
            form.password.focus();
            return;
        }

        axios({
            method: "post",
            url: "/axios/login",
            data: {
                id: form.id.value,
                password: form.password.value,
            }
        })
        .then((res) => {
            if(res.data === false) {
                alert("정보가 일치하지 않습니다");
                form.id.focus();
                form.id.value = '';
                form.password.value = '';
            } else {
                document.location.href="/mypage";
            }
        });
    }

    const enterEvent = (event) => {
        if(event.key == 'Enter') {
            login();
        }
    }

</script>
<h2>CRUD 실습 - 로그인</h2>
<form id="formLogin" style="width: 500px;">
    <fieldset>
        <div>
            <label for="userid">아이디 : </label>
            <input type="text" name="id" placeholder="아이디를 입력하세요." id="userid" onkeydown="enterEvent(event)" />
        </div>
        <div>
            <label for="userpassword">비밀번호 : </label>
            <input type="text" name="password" placeholder="비밀번호를 입력하세요." id="userpassword" onkeydown="enterEvent(event)" />
        </div>
    </fieldset>
    <button type="button" onclick="login()">로그인</button>
    <button type="button" onclick="registerMove()">회원가입 페이지로 이동</button>
</form>
</body>
</html>