<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node EJS 실습하기</title>
</head>
<body>
    <div>
        <% for(let i = 1; i < 4; i++) { %>
        <img src="/static/img/<%= i %>.png" style="width: 100px; height: 100px">
        <% } %>
    </div>
</body>
</html>
