<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>



        const updateBoardMove = (boardId) => {
            document.location.href="/update?id=" + boardId;
        }

        const deleteBoard = (boardId) => {
            const confirm = window.confirm("글을 삭제하시겠습니까?");

            if(confirm) {
                axios({
                  method: "delete",
                  url: "/board/delete",
                  data: {
                    id: Number(boardId)
                  }
                })
                .then((res) => {
                    console.log('delete ', res);
                    if(res.data) {
                        document.location.href="/";
                    } else {
                        alert("에러가 발생하였습니다. 새로고침 후 다시 시도해주세요!");
                    }
                });
            }
        }

        const boardListMove = () => {
            document.location.href="/";
        }
    </script>
</head>
<body>
<div style="width: 500px; margin-top: 10px; text-align: center;">
    <h1 th:text="${board.id} + '번 글입니다'"></h1>
</div>
<div style="width: 500px; height: 500px; border: 1px solid black; border-radius: 20px;">
    <div style="padding: 10px;">
        <span>제목</span>
        <span id="title" style="width: 400px;" th:text="${board.title}"></span>
    </div>
    <div style="padding: 10px; padding-top: 0px;">
        <p style="margin-top: 0px; margin-bottom: 5px;">내용</p>
        <pre id="content" th:text="${board.content}" style="width: 450px; height: 400px; resize: none; overflow: auto; margin: auto; font-size: 1.2rem; border: 1px solid black; border-radius: 10px; padding: 5px;"></pre>
    </div>
</div>
<div style="width: 500px; margin-top: 10px; text-align: center;">
    <button type="button" th:onclick="|deleteBoard('${board.getId()}')|" style="cursor: pointer;">글 삭제하기</button>
    <button type="button" th:onclick="|updateBoardMove('${board.getId()}')|" style="cursor: pointer;">글 수정하기</button>
    <button type="button" onclick="boardListMove()" style="cursor: pointer;">목록으로 돌아가기</button>
</div>
</body>
</html>